.newsLetter-container {
  height: 40vh;
  background-color: #fcf5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newsLetter-title {
  font-style: 70px;
  margin-bottom: 20px;
}
.newsLetter-description {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.newsLetter-input {
  width: 50%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
}
.email-input {
  border: none;
  flex: 8;
  padding-left: 20px;
}
.newsLetter-button {
  flex: 1;
  border: none;
  background-color: teal;
  color: white;
}

@media only screen and (max-width: 380px) {
  .newsLetter-description {
    text-align: center;
  }
  .newsLetter-input {
    width: 80%;
  }
}
