.contact-container {
  margin-top: 20px;
  height: 100vh;
  width: 100vw;

  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8aG91c2V8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60")
      center;
  background-size: cover;
  /*background-color: #88a08f;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(8, 141, 46);
}

.contact-title {
  font-style: 70px;
  margin-bottom: 20px;
}
.contact-description {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 20px;
}

@media only screen and (max-width: 380px) {
  .contact-description {
    text-align: center;
  }
}
